<!doctype html>
<html lang='en'>
    <head>
        <title>{{title}}</title>
        <meta charset='utf-8'>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/base.css')}}" />
    </head>
<body>
    <header>{{header}}</header>
    <nav>
        <a href='/'>Home</a>
        <a href='/blog'>Blog Posts </a>
        <a href='/newpost'> Add a Blog Entry </a>
        <a class='login' href='/logout'> logout</a>
        <a class='login' href='/login'> login </a>
    </nav>
        {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
            {% for category,message in messages %}
                <li class='{{category}}'>{{message}}</li>
            {% endfor %}
        </ul>
        {% endwith %}

        {% block content %}
        {% endblock %}
    <footer>&copy; 2019 Tom Casey</footer>
</body>
</html>