{% extends "base.html" %}

{% block content %}
<h1>Login</h1>
<form action='/login' method='post'>
    <table>
        <tr>
            <td><label for='usenamer'>User</label></td>
            <td>
                <input name='username' type='text' value='{{ user }}'>
            </td>
            <tr>
                <td><label for='password'>Password</label></td>
                <td>
                    <input name='password' type='password'>
                </td>
            </tr>
        </tr>
    </table>
    <input type='submit' value='Login'>
    <p>Don't have an account? <a href='/signup'>Create one</a></p>
</form>
{% endblock %}