header{font-weight: bold;
    font-size:2em;
    height: 100px;
    width: 650px;
    padding-left: 150px;
    padding-top: 30px;
    text-align:center;}
nav a{font-size: 1.0em; 
    font-family: Georgia, 'Times New Roman', sans-serif;
    padding:0px 10px 10px 0px;}
nav a.login{float: right;}
body{margin: 0 210px 0 160px;
    padding: 0px 10px 20px 20px;
    background-color: #ECECF0}
footer{text-align: center;
    font-style: italic;
    font-size: 0.75em;}
form{width: 540px;
    font: 16px sans-serif;
    border-radius: 10px;}
textarea{margin: 10px 0;
    width: 540px;
    height: 120px;
    font-family: Georgia, 'Times New Roman', sans-serif;}
input{margin: 2.0px;}
.error{color:red;}
p{font-size:1.25em}
p.author{font-style:italic;font-size:1.0em}
p.create{font-size:1.0em;}
li.users{font-size:1.15em}